{% extends 'userauth/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="edit container text-center">
    <h2>Change Password</h2>
    <form  method="POST" action="{% url 'change_password' %}" class="register-form">
        {% csrf_token %}
        <p>
            {{ form.old_password|add_class:"form-control"|attr:"placeholder:Old password" }}
            {{ form.old_password.errors }}
        </p>
        <p>
            {{ form.new_password1|add_class:"form-control"|attr:"placeholder:New password" }}
            {{ form.new_password1.errors }}
        </p>
        <p>
            {{ form.new_password2|add_class:"form-control"|attr:"placeholder:New password confirmation" }}
            {{ form.new_password2.errors }}
        </p>
        {% comment %} {{ form.as_p}} {% endcomment %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
</div>
{% endblock content %}