{% extends 'userauth/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="login container text-center">
    <h2>Login</h2>
    <form  method="POST" action="{% url 'login' %}" class="form-signin login-form">
        {% csrf_token %}
        <p>
            {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
            {{ form.username.errors }}
        </p>
        <p>
            {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
            {{ form.password.errors }}
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
{% endblock content %}