{% extends 'userauth/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="register container text-center">
    <h2>Register</h2>
    <form  method="POST" action="{% url 'register' %}" class="register-form">
        {% csrf_token %}
        <p>
            {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
            {{ form.username.errors }}
        </p>
        <p>
            {{ form.first_name|add_class:"form-control"|attr:"placeholder:First Name" }}
            {{ form.first_name.errors }}
        </p>
        <p>
            {{ form.last_name|add_class:"form-control"|attr:"placeholder:Last Name" }}
            {{ form.last_name.errors }}
        </p>
        <p>
            {{ form.email|add_class:"form-control"|attr:"placeholder:Email address" }}
            {{ form.email.errors }}
        </p>
        <p>
            {{ form.password1|add_class:"form-control"|attr:"placeholder:Password" }}
            {{ form.password1.errors }}
        </p>
        <p>
            {{ form.password2|add_class:"form-control"|attr:"placeholder:Password confirmation" }}
            {{ form.password2.errors }}
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
{% endblock content %}